<div class="page-width">
<div class="centered-items">
  <h1 class="main-title_section">{{section.settings.title}}</h1>
  {{section.settings.text}}
  <div class="quiz-to-offer-btn-place">
    <a href="https://nmnbio.co.uk/pages/landing-offer">START NOW</a>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Promise",
    "settings": [
			{
				"type" : "text",
				"id" : "title",
				"label": "Your Title"
			},
			{
				"type" : "richtext",
				"id" : "text",
				"label": "Your Text"
			}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
