<div class="video_container_offer">
<iframe class="offer-landing-mobile-video" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/File_from_iOS.MOV.mp4?v=1635429351"></iframe>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
