<div class="page-width">
  <div class="page-width__smaller product-questions mobile-only">
  {% for block in section.blocks %}
    <div>
      <h1 class="product-medium-title">{{block.settings.title}}</h1>
      {{block.settings.text}}
    </div>
  {% endfor %}
  </div>
  
  <div class="page-width__smaller product-questions dekstop-only tmg_product_titles">
  {% for block in section.blocks %}
    <div>
      <h1 class="product-medium-title">{{block.settings.title}}</h1>
    </div>
  {% endfor %}
  </div>
  <div class="page-width__smaller product-questions dekstop-only tmg_product_titles">
  {% for block in section.blocks %}
    <div>
      {{block.settings.text}}
    </div>
  {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Questions",
    "settings": [

],
 "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
			{
				"type" : "text",
				"id" : "title",
				"label": "Your Title"
			},
			{
				"type" : "richtext",
				"id" : "text",
				"label": "Your Text"
			}
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
