<div class="product-page">
{% section 'hero-with-popup' %}
{% section 'key-points-product' %}
{% section 'product-instructors' %}
{% section 'questions-product' %}
  <div class="product-section">
{% section 'product-template' %}
  </div>
{% section 'faq-course' %}
</div>
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}