<div class="product-page">
{% comment %}{% section 'hero_nmn_6' %}{% endcomment %}
{% section 'product-template' %}
{% section 'logo-section-homepage' %}
{% section 'text-img-right-product' %}
{% section 'text-img-left-product' %}
{% section 'text-img-right-product-2' %}
{% section 'faq_section' %}
{% section 'collection-slider' %}
</div>