<div class="product-page">
{% section 'hero_product' %}
{% section 'product-template-gift' %}
{% section 'logo-section-homepage' %}
{% section 'text-img-right-product' %}
{% section 'text-img-left-product' %}
{% section 'text-img-right-product-2' %}
{% section 'faq_section' %}
{% section 'collection-slider' %}
</div>
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}